{% extends "layout.njk" %}
{% block content %}
<main container="container region flow">
    <div class="bordertext">
        <h1>{{ title }}</h1>
        <p>If you have any issues with my website, or need to reach out please contact me at alvin.granvik@elev.ga.ntig.se</p>
        <p>type shi</p>
    </div>
</main>
{% endblock %}