{% extends "layout.njk" %}

{% block content %}
<main class="container region flow">
  <h1 style="background-color:white;">{{ title }}</h1>
  <form action="/new" method="post">
    <label for="message" style="background-color: white;">Message</label>
    <textarea id="message" name="message" required></textarea>
    <button type="submit">Post new</button>
  </form>
</main>
{% endblock %}